numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
joblib==1.4.2

xgboost==2.1.1
lightgbm==4.5.0

shap==0.46.0

langchain==0.2.14
langchain-core==0.2.34
crewai==0.51.1

fastapi==0.112.0
uvicorn==0.30.6
pydantic==2.8.2
